// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

html
	font-size: 62.5%
	+selection
		background: rgba($bgSecondary, .3)
body
	font-size: 1.4rem
	line-height: 1.4
	+reg
	&.has-open-filter
		.catalog
			padding-left: 25%
		.sidebar
			transform: translate3d(0,0,0)
		.slider-full
			.container
				padding-left: 25%
			.box
				margin: 0 auto 
		.item
			.btn-compare, 
			.btn-like
				width: 2.5rem
			.btn
				min-width: 8rem
a
	text-decoration: none
	&:hover
		text-decoration: none
.l-flex
	display: flex
	flex-direction: column
	> .text
		order: 10
		margin: 3rem 0
	.page-head
		order: 1
	.content
		order: 3
	.filter
		order: 2
.main-area
	&.is-vertical
		display: flex
		flex-direction: row
		> div
			display: flex
			align-items: center
			flex-direction: row
			&.is-vertical
				flex-direction: column 
				align-items: flex-start
.overlay
	opacity: 0
	visibility: hidden 
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 9
	background: rgba($textSecondary, .32)
	transition: opacity .3s
	&.is-active
		opacity: 1
		visibility: visible
.link-more
	display: inline-block
	padding: .9rem 4rem 
	background: #fff
	border: 1px solid #4a90e2
	color: #2567b3
	font-size: 1.5rem
	+reg
	line-height: 1
	transition: color, background, .3s
	&:hover
		background: #4a90e2
		color: #fff  
.btn-link
	display: inline-block
	padding: 1rem 1rem .9rem
	border: 1px solid transparent
	color: $textSecondary
	font-size: 1.4rem
	+reg
	line-height: 1
	+link-hover
	background: none 
	transition: border, color, .2s
	&_fluid
		width: 100%
		display: block
		text-align: center
	&.is-active
		border-color: #dedede 
.btn
	display: inline-block
	padding: 1rem 1rem .9rem
	border: 1px solid $border
	min-width: 11rem
	background: #fff 
	color: $textPrimary
	font-size: 1.2rem
	+med
	line-height: 1
	text-align: center
	transition: color, background, border, .3s
	&:hover
		color: #fff
		background: $link  
		border-color: $link 
	&_big
		padding: 1.9rem 3rem 1.8rem
		min-width: 20rem
	&_med	
		padding: 1.3rem 2rem
		min-width: 16.5rem
	&_fill
		background: $bgPrimary 
		border-color: #e8e8e8
.badge
	display: inline-block
	padding: .4rem 1rem .3rem
	min-width: 10rem
	background: #fff
	border: 1px solid
	font-size: 1.2rem
	+reg
	text-align: center
	&_top
		color: #F64739 
	&_new
		color: $link 
.btn-compare,
.btn-like
	display: inline-block
	vertical-align: middle
	height: 3.5rem
	width: 3.5rem
	background: none
	line-height: 1
	transition: color .3s
	.lnr
		vertical-align: middle
		font-size: 1.7rem
a.btn-compare,
a.btn-like
	+vertical
.btn-like
	&.is-active,
	&:hover
		color: #d0021b 
.btn-compare
	&.is-active,
	&:hover
		color: $link 
.item
	position: relative
	display: block
	width: 15rem
	margin: 0 auto 
	color: $textSecondary 
	text-align: center
	&__img	
		display: block
		position: relative
		margin-bottom: 4rem
		height: 15rem
		+vertical
		overflow: hidden
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%
			width: auto
			height: auto
	&__main
		margin: 4rem 0 1.5rem
	&__in
		display: inline-block 
		text-align: left
	&__action
		+clr
		margin-top: 0.8rem
		.btn
			float: left
	&__more
		float: right
	&__price
		display: inline-block 
		vertical-align: top
		+ .btn
			vertical-align: top
			margin-left: 1.5rem
	&__links
		margin-top: 2rem
		a
			display: inline-block
			margin-left: 2rem
			padding: .5rem
			+link
			font-size: 1.2rem 
			&:first-child
				margin-left: 0
	.name
		margin-bottom: 1rem
	.badge
		position: absolute
		top: 0
		left: 0
		transform: translateY(-50%)
	.btn-compare, 
	.btn-like,
	.btn
		transition: width .3s
.item_extend
	margin-bottom: 5.2rem
	width: 73%
	text-align: left
	.item__img
		height: 18rem
		margin-bottom: 2.8rem
	.item__main
		margin-top: 2.8rem
	.name
		font-size: 1.4rem
		+med
.item_row
	border-top: 1px solid $border 
	padding: 4rem 0 
	width: 100%
	text-align: left
	+clr
	&:first-child
		border-top: 0
		padding-top: 0
	.item__img
		float: left
		width: 23.2%
		margin: 0 
		padding-right: 1rem
	.item__main
		overflow: hidden
		margin: 0
	.name
		margin-bottom: 0
	.meta
		margin-bottom: 2rem

.name
	display: block
	font-size: 1.3rem
	+reg
	line-height: 1.4
	color: $textSecondary
	&_big
		font-size: 1.8rem
a.name
	+link-hover 
.price
	color: $textSecondary
	font-size: 2rem
	sub
		font-size: 1.4rem
	&_old
		color: #777
		text-decoration: line-through
		font-size: 1.5rem
		sub
			font-size: 1.2rem
	&_big
		font-size: 3rem
		sub
			font-size: 1.8rem
	&_small
		font-size: 1.5rem
		sub
			font-size: 1.3rem
a.price
	+link-hover

.slider
	.lSPrev,
	.lSNext
		top: 3rem
		height: 10rem
		background: #fff 
		line-height: 10rem
		transform: translateY(0)
		&:before
			font-size: 4rem
	.lSPrev
		left: 0
	.lSNext
		right: 0
.title-nav
	margin: 2rem -1rem 
	font-size: 1.6rem
	&__item
		display: inline-block
		margin-right: 5%
		vertical-align: baseline
		&.is-active
			font-size: 2.2rem
	&__link
		display: block
		padding: 1rem 
		+link
.post
	margin-bottom: 2.3rem
	&__img
		display: block
		margin: 0 0 2.3rem 0 
		overflow: hidden
		img
			display: block
			max-width: 100%
			height: auto
	&__main
		margin: 2.3rem 0 0
		padding-right: 1.5rem
	.title-link
		margin-bottom: 0.5rem
	.info-text
		margin-bottom: 0.5rem
.title-link
	display: inline-block
	font-size: 1.4rem
	+med
	color: $textPrimary 
	+link-hover
.info-text
	color: $textPrimary
	font-size: 1.2rem
	line-height: 1.3
	+reg 
.meta
	color: $textMeta
	font-size: 1.2rem
	+med
	line-height: 1.3
	&_dark
		+reg
		color: #4A4A4A 
	&_reg
		+reg
	a
		display: inline-block
		padding: .4rem 0 
		color: $textMeta
		+link-hover
.pager
	margin: 2rem 0 
	a
		display: inline-block
		vertical-align: middle
		width: 3rem
		height: 3rem
		line-height: 3rem
		text-align: center
		font-size: 1.2rem
		color: #555 
		background: #fff
		&.is-active
			border: 1px solid #ccc
			color: $textPrimary 

.text
	+reg
	color: $textPrimary 
	line-height: 1.33
	font-size: 1.2rem
	&_med
		font-size: 1.3rem
		+med
		line-height: 1.5
	h1, h2, h3, h4, h5, h6
		margin: 1.4rem 0 
		+med
	h6
		font-size: 1.2rem
	h5
		font-size: 1.4rem
	h4
		margin: 1rem 0 
		font-size: 1.6rem
	h3
		font-size: 1.8rem
	h2
		font-size: 2rem
	h1
		font-size: 2.2rem
	p
		margin: 1.4rem 0 
	ul, ol
		margin: 1.4rem 0
	ul
		li
			position: relative
			padding-left: 1rem
			&:before
				content: "-"
				position: absolute
				left: 0
				top: 0 
	table
		margin: 2rem 0 4rem 
		width: 100%
		td
			border: 1px solid $border
			padding: 2rem 
			&:first-child
				width: 30%
				font-size: 1.6rem
		tr
			&:nth-child(2n)
				background: $bgPrimary 
.catalog
	position: relative
	transition: padding .3s
	.sidebar
		position: absolute
		border-right: 1px solid $border 
		left: 0
		top: 0
		z-index: 3
		margin-left: -15px
		width: 23.7%
		background: #fff 
		transform: translate3d(-1000%,0,0)
		transition: transform .2s
		&__in
			padding-right: 1rem
.accord
	margin-bottom: 3.3rem
	&__title
		padding: 0 0 1.8rem 
		font-size: 1.3rem
		+med
		+nosel
.checkbox
	position: relative
	display: block
	margin-bottom: 1.3rem
	cursor: pointer
	font-size: 1.2rem
	&__text
		display: block
		position: relative
		padding-left: 3rem
		&:before
			content: "" 
			position: absolute
			top: -3px
			left: 0
			width: 2rem
			height: 2rem
			background: #fff
			border: 1px solid $border
			transition: border, .2s
		&:after
			opacity: 0
			content: "\e874"
			position: absolute
			left: 3px
			top: 0
			+icon
			font-size: 1.5rem
			color: $link
			transform: translateY(-2px)
			transition: opacity, transform, .2s
	input
		position: absolute
		opacity: 0
		&:checked
			+ .checkbox__text
				&:after
					opacity: 1
					transform: translateY(0)
				&:before
					border-color: $link 
.checkbox_inline
	display: inline-block
	vertical-align: top
	margin-right: 8%
	&:last-child
		margin-right: 0
.slider-full
	position: relative
	margin: .5rem 0 5.5rem 
	z-index: 2
	overflow: hidden
	&:hover
		.slider-full__bg
			transform: scale(1.2)
	&__bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		+cover
		transition: transform 20s
	.container
		padding-top: 3.5rem
		padding-bottom: 3.5rem
	.box
		max-width: 51rem
.box
	background: #fff 
	&__img
		float: left
		padding: .5rem 
	&__main
		overflow: hidden
		padding: 1rem 3rem 1rem
		font-size: 1.4rem
		color: $textPrimary
	&__title
		margin-bottom: 1.8rem
		font-size: 2.2rem
		+med
	&__text
		margin: 1.8rem 0 3.3rem
	&__in
		padding: 4rem 2rem 2rem
		+clr	
	&__action
		+clr
		.btn
			float: left
		.btn-nav
			float: right


.btn-nav
	font-size: 0
	button
		display: inline-block
		margin-left: -1px
		vertical-align: middle
		border: 1px solid $border
		width: 3.2rem
		height: 3.2rem
		line-height: 1
		background: #fff
		font-size: 1.3rem 
		color: #7f7f7f
		transition: color, background, .3s
		&:hover
			color: #fff
			background: $link  


.option
	text-align: center
	&__text
		font-size: 1.2rem
		color: $textPrimary
		span
			color: $textMeta 

.circles-text
	font-size: 1.8rem !important
	color: $textPrimary !important 



.field
	display: block
	margin: 0 0 2rem
	input, 
	textarea
		display: block
		border: 1px solid $border
		padding: 0 1.5rem 
		width: 100%
		height: 4.5rem
		font-size: 1.4rem
		+reg
		transition: border .3s
		&:focus
			border-color: $link 
	textarea
		padding: 1.3rem 1.5rem 
		height: 10rem
		resize: none
		
.gallery
	.col
		margin-bottom: 2rem
	img
		max-width: 100%
.tab-content
	padding: 5rem 0 
	.info-box
		&:first-child
			padding-top: 0