.footer
	background: $bgPrimary
	&__top
		border-bottom: 1px solid #eee
	&__bottom
		padding: 2.5rem 0
	&__meta
		strong
			font-size: 1.4rem
			+med
			font-weight: normal
		.meta
			margin-top: 0.8rem
	&__list
		color: $textPrimary
		font-size: 1.2rem
		+med
		line-height: 1.33
		a
			+link
.soc
	text-align: right
	font-size: 0
	&__link
		display: inline-block
		width: 5rem
		height: 5rem
		vertical-align: middle
		+vertical
	span
		display: inline-block
		vertical-align: middle
	&__fb
		+s(soc-fb)
	&__vk
		+s(soc-vk)
	&__tw
		+s(soc-tw)
	&__ig
		+s(soc-ig)
.logo-box
	display: inline-block
	vertical-align: middle
	margin-right: 1.5rem
	padding: .7rem .5rem .6rem
	color: #fff
	line-height: 1
	+reg 
	background: $textSecondary
	font-size: 1.2rem
.breadcrumbs
	margin-top: 1.5rem
	font-size: 0
	height: 2.5rem
	line-height: 2.5rem
	&__link
		display: inline-block
		position: relative
		vertical-align: middle
		padding: .5rem 1.5rem 
		font-size: 1.2rem
		+med
		color: #777
		+link-hover
		&:before
			content: "\e876"
			position: absolute
			left: -4px
			top: 1.3rem
			+icon 
			font-size: 7px