.header
	position: relative
	z-index: 10
	color: #fff 
	background: #fff 
	&__top
		background: #2b2b2b 
	&__main
		padding: 1.8rem 0 
		background: $bgSecondary 
	.logo
		margin-right: 7.5%
	.dropdown,
	.city-info,
	.cart-info
		line-height: 3.5rem
		height: 3.5rem
.nav
	font-size: 0
	&__item
		display: inline-block
		vertical-align: middle
		font-size: 1.2rem
		+med
		color: #fff 
		&:first-child
			margin-left: -1.2rem
		&:last-child
			margin-right: -1.2rem
	&__link	
		display: block
		padding: 0 1.2rem 
		height: 3.5rem
		line-height: 3.5rem
		color: #fff 
		transition: color .3s
		&:hover
			color: $link 
.logo
	display: inline-block
	vertical-align: middle
	font-size: 2.3rem
	color: #fff
	+reg
.search
	position: relative
	display: inline-block
	vertical-align: middle
	width: 61%
	&__input
		display: block
		padding: 0 4rem 0 1.4rem 
		width: 100%
		height: 3.5rem
		border: 1px solid #606060
		background: none 
		font-size: 1.2rem
		+reg
		color: #fff 
		transition: border .3s
		+placeholder
			color: rgba(#fff,.64)
		&:focus
			border-color: #fff 
	&__btn
		position: absolute 
		right: 1.3rem
		top: 50%
		transform: translateY(-50%)
.dropdown
	position: relative
	font-size: 1.8rem
	color: #fff
	+med 
	&.is-active
		.dropdown__list
			opacity: 1
			visibility: visible
	&__text
		position: relative
		display: inline-block
		padding-right: 2rem
		&:after
			content: "\e874"
			position: absolute
			right: 0
			top: 50%
			+icon 
			margin-top: -0.5rem
			font-size: 1rem
	&__list
		position: absolute
		top: 100%
		left: 0
		right: auto
		opacity: 0
		line-height: 1.4
		visibility: hidden
		transition: opacity .3s
.city-info
	font-size: 1.2rem
.cart-info
	font-size: 1.4rem
	color: #fff 
	&__title
		vertical-align: middle
	.lnr
		position: relative
		top: 4px
		margin-right: 0.5rem
		font-size: 2.2rem
.menu
	+justify
	position: relative
	margin: 0 -1.5rem 
	&__item
		display: inline-block
		vertical-align: middle
		text-align: left
		&.is-active
			.submenu
				opacity: 1
				visibility: visible 
		&.is-current
			.menu__link
				+med
	&__link
		display: block
		padding: 0 1.5rem 
		height: 6rem
		line-height: 6rem
		font-size: 1.4rem
		color: #555  
		transition: color .3s
.submenu
	opacity: 0
	visibility: hidden
	position: absolute
	top: 100%
	left: -2.5rem
	right: -2.5rem
	padding: 3.7rem 4rem 
	background: #fff 
	font-size: 1.2rem
	line-height: 1.4
	text-align: left
	transition: opacity .3s
	.cat-title
		text-align: left
		-moz-text-align-last: left
.list
	font-size: 1.2rem
	a
		display: inline-block
		padding: .5rem 0 
		+link 
	&_light
		a
			padding: .1rem 0
			color: #555 
.cat-title
	position: relative
	margin-bottom: 1rem
	font-size: 1.3rem
	color: $textSecondary 
	+med
	+clr
	&__link
		+link
	&__more
		float: right
		+reg
		color: $textPrimary 
		+link-hover

.banners-wrap
	margin-top: 2rem
	font-size: 0
	.banner
		display: inline-block
		vertical-align: top
		width: 33.3%
		img
			display: block
			width: 100%
.banner
	position: relative
	display: block
	+med
	&__info	
		position: absolute
		top: 12%
		left: 0
		right: 0
		padding: 0 1rem 
		text-align: center
	&__title
		color: #4a4a4a
		font-size: 1.3rem
	&__meta	
		font-size: 1.1rem
		color: #807f80













