.promo
	position: relative
	z-index: 1
	color: $textPrimary
	background: $bgPrimary 
	+reg
	min-height: 40rem
	&__img
		padding: 1.5rem 0 1.5rem 4rem
	&__body
		padding: 8rem 4rem 4rem 0 
		position: relative
	&__title
		margin-bottom: 1.5rem
		font-size: 4rem
		line-height: 1
	&__text
		margin: 1.5rem 0 4.5rem 
		font-size: 2rem
		line-height: 1.2
.promo-nav
	padding: 1.7rem 0
	border-bottom: 1px solid rgba($textSecondary, 0.08) 
	
.social-box
	margin: 2.5rem 0 0
	padding: 2.5rem 0 5rem 
	background: $bgPrimary 
	&__title
		margin-bottom: 2.4rem
		text-align: center
		color: $textPrimary
		font-size: 2.2rem
		+reg 
.social
	margin-left: -15px
	padding: 0 15px 
	+vertical
	height: 8rem
	&__in
		display: inline-block
		vertical-align: middle
		width: 100%
	&__logo
		text-align: left
		img
			max-width: 100%
	&_vertical
		text-align: left
		padding: 0 2rem 
		height: 9.5rem
		margin-bottom: 1.5rem 
.instagram
	background: #fff 
	border: 1px solid #f0ebf2
	text-align: left
	&__btn
		display: block
		width: 100%
		padding: .6rem 
		text-align: center
		background: #fff
		border: 1px solid
		border-radius: 3px
		color: #2d6599
		font-size: 1.2rem
		transition: background, color, .3s
		+reg
		&:hover
			color: #fff
			background: #2d6599
	&__info
		font-size: 1.2rem
		+reg  
		color: $textPrimary
		span
			font-size: 1.3rem
			+med
.facebook
	background: #3b559a 
	.group
		&:first-child
			padding-right: 0
		&:last-child
			padding-left: 0
.vkontakte
	background: #4f7094
	border: 1px solid #f0ebf2
	.group
		&:first-child
			padding-right: 0
		&:last-child
			padding-left: 0
.youtube
	background: #fff
	border: 1px solid #f0ebf2

.seo
	padding: 1rem 0
	color: $textMeta
	font-size: 1.2rem
	+med
	line-height: 1.3
	p
		margin: 1rem 0





















