.category
	background: $bgPrimary 
	a
		display: block
		padding: 1.9rem 0 2rem
		color: $textPrimary
		+link-hover
		line-height: 1
		font-size: 1.2rem
	&__list
		+justify
		+reg
		li
			display: inline-block
			vertical-align: middle
			&.is-active
				+med
	&__more
		text-align: right
		> a
			display: inline-block
			padding-right: 1.5rem
			position: relative
			&:after
				content: "\e874"
				position: absolute
				right: 0
				top: 50%
				+icon 
				margin-top: -0.5rem
				font-size: 7px

.page-head
	position: relative
	padding-right: 17%
	margin: 3rem 0 2.2rem
	.raty
		position: absolute
		right: 0
		bottom: 2rem
.title
	position: relative
	color: $textPrimary 
	font-size: 3rem
	+reg
	&_smaller
		font-size: 1.6rem
	&_med
		font-size: 2.4rem
	&_mb
		margin-bottom: 3rem
	.meta
		position: absolute
		right: 0
		top: 0	
.items-action
	margin: 3rem 0 4rem 
	.sort
		text-align: right
.btn-filter
	position: relative
	padding-left: 3rem
	background: none
	font-size: 1.2rem
	+reg
	+link
	&.is-active
		.lnr
			transform: translate3d(0,-50%,0) rotate(90deg)
	span
		display: inline-block
		vertical-align: middle
	.lnr
		position: absolute
		left: 0
		top: 50%
		transform: translate3d(0,-50%,0)
		font-size: 2rem
		transition: transform .3s
.sort
	margin-top: -0.5rem
	font-size: 1.2rem
	+reg
	
	&__item
		display: inline-block
		margin-left: 1rem
		vertical-align: middle
		color: #555 
	a
		display: inline-block
		position: relative
		padding: .5rem 1rem .5rem 0
		color: $textPrimary
		+link-hover 
		&:after
			content: "\e874"
			position: absolute
			right: 0
			top: 1rem
			+icon 
			font-size: 5px
.items-cat
	margin: 1.5rem 0 3rem 
	&__img
		height: 9rem
		margin-bottom: 1rem
		display: inline-block
		img
			display: block
			max-height: 100%
			max-width: 100%
	&__title
		margin-bottom: 1rem
		color: $textPrimary
		font-size: 1.3rem
		+med
		a
			+link
		+ .items-cat__title
			margin-top: 1.4rem
	.list
		+ .items-cat__title
			margin-top: 2.6rem
.slider-full
	+ .section
		margin-top: -5.5rem
.section
	padding: 2.5rem 0 1.2rem 
	background: $bgPrimary 

