.product-body
	margin-bottom: 6.5rem
.raty
	color: $statePrimary 
	white-space: nowrap
	span
		vertical-align: middle
	.meta
		margin-left: 1rem
.product-slider
	margin: 1rem 0 
	img
		display: block
		margin: 0 auto 
	.lSPager
		margin-top: 2rem !important
.product-info
	padding-top: 3.5rem
.product-buy
	.btn
		margin: 1.5rem 0 
.product-action
	margin: 6rem 0
.rules
	display: inline-block
	text-align: left
	font-size: 1.2rem
	&__item
		margin: 0 0 1.8rem
	&__title
		margin: 0 0 .5rem 
		+med
.soc-btn
	+med
	+justify
	&__title
		margin-bottom: 1.5rem
		color: $textSecondary
		font-size: 1.2rem
		text-align: left
	&__link
		display: inline-block
		margin: 0 0 2% 0
		padding: 1.2rem 1rem 
		min-width: 12.5rem
		font-size: 1.2rem
		line-height: 1
		background: $bgPrimary
		color: $textPrimary
		text-align: center
		transition: color, background, .3s
		&:hover
			color: #fff 
		&_fb
			&:hover
				background: #3b5998
		&_vk
			&:hover
				background: #4e729a 
		&_tw
			&:hover
				background: #55acee
		&_gp
			&:hover
				background: #cc181e 
				
.items-line-wrap
	margin: 3rem 0 
.item-line
	position: relative
	margin: 3rem 0 
	&.is-active
		&:after
			content: ""
			position: absolute
			bottom: -1rem
			left: 2.5rem
			height: .4rem
			width: .4rem
			background: $textPrimary 
			border-radius: 50%  
	&__img
		display: block
		img
			max-width: 100%
	&__title
		display: inline-block
		padding: .5rem 0
		font-size: 1.3rem
		+link 
.info-box
	padding: 5rem 0
	&_cover
		background: $bgPrimary 
	&__in
		width: 50%
		margin: 0 auto
		text-align: center 
	img
		max-width: 100%
		vertical-align: middle
	.title
		margin-bottom: 2rem
	.text
		margin: 0 
		color: #555 
.content-cols
	margin: 4.5rem 0 0 
	.column
		padding-right: 5%
	.title
		margin-bottom: 3rem
.hr
	margin: 5rem 0 2rem
	height: 1px
	background: #eee
	border: 0 
.video-holder
	margin: 4rem 0 2rem
	background: #000 
.video
	iframe
		display: block
		margin: 0 auto
		max-width: 100% 