$icons: (0:0)
$icons: map-merge($icons,(codedby: (X: -49px, Y:-9px, W: 47px, H: 5px, TW: 98px, TH: 46px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(coderiver: (X: -49px, Y:0px, W: 49px, H: 5px, TW: 98px, TH: 46px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(soc-fb: (X: 0px, Y:-24px, W: 12px, H: 22px, TW: 98px, TH: 46px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(soc-ig: (X: 0px, Y:0px, W: 20px, H: 20px, TW: 98px, TH: 46px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(soc-tw: (X: -24px, Y:0px, W: 21px, H: 19px, TW: 98px, TH: 46px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(soc-vk: (X: -16px, Y:-24px, W: 13px, H: 16px, TW: 98px, TH: 46px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)
@mixin sp($i)
	+sprite-position($i)
@mixin sr($i)
	+sprite-retina($i)	

//
//.icon-codedby
//	width: 47px
//	height: 5px
//	background-image: url('../img/icons.png')
//	background-position: -49px -9px
//
//.icon-coderiver
//	width: 49px
//	height: 5px
//	background-image: url('../img/icons.png')
//	background-position: -49px 0px
//
//.icon-soc-fb
//	width: 12px
//	height: 22px
//	background-image: url('../img/icons.png')
//	background-position: 0px -24px
//
//.icon-soc-ig
//	width: 20px
//	height: 20px
//	background-image: url('../img/icons.png')
//	background-position: 0px 0px
//
//.icon-soc-tw
//	width: 21px
//	height: 19px
//	background-image: url('../img/icons.png')
//	background-position: -24px 0px
//
//.icon-soc-vk
//	width: 13px
//	height: 16px
//	background-image: url('../img/icons.png')
//	background-position: -16px -24px
//