$textPrimary: #333
$textSecondary: #000
$bgPrimary: #f7fafa
$bgSecondary: #4c4b4c
$link: #34abf4
$textMeta: #777
$border: #ddd
$statePrimary: #fca700

+font(AvenirNext-Regular, AvenirNext-Regular)
=reg
    font-family: "AvenirNext-Regular", Arial, Helvetica, sans-serif
    
+font(AvenirNext-Medium, AvenirNext-Medium)
=med
    font-family: "AvenirNext-Medium", Arial, Helvetica, sans-serif
=icon
    font-family: 'Linearicons-Free'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
=link
    color: $textSecondary 
    transition: color .3s
    &:hover
        color: $link 
=link-hover
    transition: color .3s
    &:hover
        color: $link 