<div class="tab-content" id="about">
	<div class="info-box">
		<div class="container">
			<div class="main-area is-vertical">
				<div class="group is-vertical">
					<div class="title title_med">Перемены на ваших глазах</div>
					<div class="text text_med">iPad Air 2 настолько тонкий и легкий, что вы не захотите с ним расставаться. Толщина всего 6,1 мм, а вес 437 грамм. При этом iPad Air – мощное устройство, которое решает множество задач. Retina дисплей обладает антибликовым покрытием, благодаря чему отражает меньше, чем любой другой дисплей. Цвета в этом планшете с 9,7-дюймовым дисплеем и разрешением 2048×1536 пикселей стали ярче, а контрастность выше.</div>
				</div>
				<div class="group">
					<img src="img/prod2.png" alt="img">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="info-box">
			<div class="info-box__in text-center">
				<div class="title title_med">Утонченная мощность</div>
				<div class="text text_med">iPad Air 2 не просто тоньше, он стал мощнее из-за нового процессора А8Х с быстрой графикой. Этот планшет не уступает по мощности настольным компьютерам, благодаря 64-битной архитектуре. Вы можете целый день работать, творить, развлекаться, читать и делать покупки – заряда аккумулятора хватает на 10 часов.</div>
			</div>
		</div>
	</div>
	<div class="info-box info-box_cover">
		<div class="container">
			<div class="main-area is-vertical">
				<div class="group is-vertical">
					<div class="title title_med">Простая и надежная защита</div>
					<div class="text text_med">В iPad Air 2 используется самая надежная защита в мире – ваш отпечаток пальца. Технология идентификации Touch ID предоставляет вам возможность одним касанием пальца разблокировать iPad Air 2, совершать покупки в App Store и iTunes.</div>
				</div>
				<div class="group">
					<img src="img/prod3.png" alt="img">
				</div>
			</div>
		</div>
	</div>
	<div class="content-cols">
		<div class="container">
			<div class="main-area">
				<div class="column">
					<div class="title title_med">Простая и надежная защита</div>
					<div class="text text_med">В iPad Air 2 используется самая надежная защита в мире – ваш отпечаток пальца. Технология идентификации Touch ID предоставляет вам возможность одним касанием пальца разблокировать iPad Air 2, совершать покупки в App Store и iTunes.</div>
				</div>
				<div class="column">
					<div class="title title_med">Инновации с полной очевидностью.</div>
					<div class="text text_med">В iPad Air 2 используется самая надежная защита в мире – ваш отпечаток пальца. Технология идентификации Touch ID предоставляет вам возможность одним касанием пальца разблокировать iPad Air 2, совершать покупки в App Store и iTunes.</div>
				</div>
				<div class="column">
					<div class="title title_med">Сверхбыстрая беспроводная связь.</div>
					<div class="text text_med">В iPad Air 2 используется самая надежная защита в мире – ваш отпечаток пальца. Технология идентификации Touch ID предоставляет вам возможность одним касанием пальца разблокировать iPad Air 2, совершать покупки в App Store и iTunes.</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="hr">
	<div class="container">
		<ul class="title-nav">
			<li class="title-nav__item is-active">
				<a href="#" class="title-nav__link">Вас заинтересует</a>
			</li>
		</ul>
		<div class="main-area">
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item5.png" alt="Apple iPhone">
					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item6.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item7.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item8.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center"><a href="#" class="btn btn_med">Показать еще</a></div>
	</div>
	<div class="video-holder">
		<div class="container">
			<div class="video">
				<iframe width="853" height="480" src="//www.youtube.com/embed/1B4MCL27m5M?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="container">
		<ul class="title-nav">
			<li class="title-nav__item is-active">
				<a href="#" class="title-nav__link">Похожие товары</a>
			</li>
		</ul>
		<div class="main-area">
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item5.png" alt="Apple iPhone">
					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item6.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item7.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item8.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center"><a href="#" class="btn btn_med">Показать еще</a></div>
	</div>
</div>
<div class="tab-content" id="features">
	
	<div class="container">
		<div class="title title_med title_mb ">Характеристики Apple iPad air 2 16GB Space Gray</div>
		<div class="text text_med">
			<h3>Аппаратные функции</h3>
			<table>
				<tbody>
					<tr>
						<td>Передача данных</td>
						<td>Wi‑Fi 802.11a/b/g/n/ac с технологией MIMO, Bluetooth 4.2, NFC</td>
					</tr>
					<tr>
						<td>Датчики</td>
						<td>трёхосевой гироскоп / датчик ускорения / датчик расстояния / датчик внешней освещённости / цифровой акселерометр / сканер отпечатков пальца Touch ID</td>
					</tr>
					<tr>
						<td>Разъем для синхронизации</td>
						<td>проприетарный (8-пиновый Lightning-коннектор)</td>
					</tr>
					<tr>
						<td>Разъем для гарнитуры</td>
						<td>3,5-мм разъем (мини-джек)</td>
					</tr>
				</tbody>	
			</table>
			<h3>Аппаратные функции</h3>
			<table>
				<tbody>
					<tr>
						<td>Передача данных</td>
						<td>Wi‑Fi 802.11a/b/g/n/ac с технологией MIMO, Bluetooth 4.2, NFC</td>
					</tr>
					<tr>
						<td>Датчики</td>
						<td>трёхосевой гироскоп / датчик ускорения / датчик расстояния / датчик внешней освещённости / цифровой акселерометр / сканер отпечатков пальца Touch ID</td>
					</tr>
					<tr>
						<td>Разъем для синхронизации</td>
						<td>проприетарный (8-пиновый Lightning-коннектор)</td>
					</tr>
					<tr>
						<td>Разъем для гарнитуры</td>
						<td>3,5-мм разъем (мини-джек)</td>
					</tr>
				</tbody>	
			</table>
		</div>
	</div>
</div>
<div class="tab-content" id="video">
	<div class="container">
		<div class="text">
			<h3>Видеообзор Apple iPad air 2 16GB Space Gray</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ab eos facilis. Autem cupiditate modi labore laboriosam deleniti, animi at vero ratione inventore quisquam ullam unde distinctio hic enim doloremque!</p>
		</div>
	</div>
	<div class="video-holder">
		<div class="container">
			<div class="video">
				<iframe width="853" height="480" src="//www.youtube.com/embed/1B4MCL27m5M?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<div class="tab-content" id="photo">
	<div class="container">
		<div class="title title_med title_mb">Фотогалерея Apple iPad air 2 16GB Space Gray</div>
		<div class="gallery">
			<div class="main-area js-gallery">
				<a class="col" href="img/item1.jpg">
					<img src="img/item1.jpg" alt="img">
				</a>
				<a class="col" href="img/item2.jpg">
					<img src="img/item2.jpg" alt="img">
				</a>
				<a class="col" href="img/item3.jpg">
					<img src="img/item3.jpg" alt="img">
				</a>
				<a class="col" href="img/item4.jpg">
					<img src="img/item4.jpg" alt="img">
				</a>
				<a class="col" href="img/item5.png">
					<img src="img/item5.png" alt="img">
				</a>
				<a class="col" href="img/item6.png">
					<img src="img/item6.png" alt="img">
				</a>
				<a class="col" href="img/item7.png">
					<img src="img/item7.png" alt="img">
				</a>
				<a class="col" href="img/item8.png">
					<img src="img/item8.png" alt="img">
				</a>
				<a class="col" href="img/item9.png">
					<img src="img/item9.png" alt="img">
				</a>
				<a class="col" href="img/item10.png">
					<img src="img/item10.png" alt="img">
				</a>
				<a class="col" href="img/item11.png">
					<img src="img/item11.png" alt="img">
				</a>
				<a class="col" href="img/item6.png">
					<img src="img/item6.png" alt="img">
				</a>
			</div>
		</div>
		
	</div>
</div>
<div class="tab-content" id="accessories">
	<div class="container">
		<ul class="title-nav">
			<li class="title-nav__item is-active">
				<a href="#" class="title-nav__link">Аксессуары для Apple iPad air 2 16GB Space Gray</a>
			</li>
		</ul>
		<div class="main-area">
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item11.png" alt="Apple iPhone">
					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item11.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item11.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="item item_extend">
					<a class="item__img" href="#">
						<img src="img/item11.png" alt="Apple iPhone">

					</a>
					<div class="item__main">
						<a class="name" href="#">Apple iPhone 6S 16GB White</a>
						<a class="price" href="#">16 449 <sub>грн</sub></a>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center"><a href="#" class="btn btn_med">Показать еще</a></div>
	</div>
</div>	
<div class="tab-content" id="reviews">

	<div class="container">

		<div class="main-area">
			<div class="main">
				<div class="title title_med title_mb">Написать комментарий</div>
				<label class="field">
					<textarea placeholder="Ваш комментарий" required></textarea>
				</label>
				<div class="main-area">
					<div class="group">
						<label class="field">
							<input placeholder="Ваше имя" required>
						</label>
					</div>
					<div class="group">
						<label class="field">
							<input placeholder="Ваш email" required>
						</label>
					</div>
				</div>
				<div class="field">
					<div class="captcha">
						<img src="img/captcha.png" alt="img">
					</div>
				</div>
				<div class="field">
					<div class="text-center">
						<button class="btn btn_big" type="submit">Отправить</button>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>
<div class="tab-content" id="service">
	<div class="container">
		<div class="text text_med">
			<h3>Lorem ipsum dolor sit.</h3>
			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eveniet praesentium distinctio voluptatum reiciendis enim ipsa officiis unde laudantium quos animi odit, asperiores hic repudiandae. Sunt, sequi nihil quibusdam mollitia ipsa reprehenderit, nostrum necessitatibus accusantium iste. Repellat, ducimus atque tempora.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos rem nemo voluptatem suscipit. Sunt, commodi blanditiis eius. Accusamus dolore harum reprehenderit nesciunt asperiores aliquid eveniet doloribus! Quam quod blanditiis atque reiciendis facere, doloribus, sit accusantium, sunt, cum molestias quaerat adipisci?</p>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, aperiam.</li>
				<li>Lorem ipsum dolor sit amet.</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sit dolor fuga modi quis illum accusamus facere non hic perspiciatis, quaerat veniam cum cupiditate numquam odio pariatur voluptas itaque culpa quas laborum atque labore magnam error, reprehenderit. Doloremque eos laboriosam maxime inventore perferendis cumque, aliquam, alias sint, est praesentium ducimus.</p>
		</div>
	</div>
</div>