<div class="footer">
	<div class="container">
		<div class="footer__bottom">
			<div class="main-area">
				<div class="cell">
					<div class="footer__meta">
						<strong>Интернет-магазин TopGoods</strong>
						<div class="meta">© 2009-2015. Все права защищены.</div>
					</div>
				</div>
				<div class="cell">
					<ul class="footer__list">
						<li>Пн.-Пт.: 09:00 - 21:00</li>
						<li>Cб.: 10:00 - 18:00</li>
						<li>Вс.: 11:30 - 17:00</li>
					</ul>
				</div>
				<div class="cell">
					<ul class="footer__list">
						<li>Тел.: <a href="tel:+380666226782">+38 (096) 26-56-122</a></li>
						<li>Тел.: <a href="tel:+380666226782">+38 (066) 622-67-82</a></li>
						<li>e-mail: <a href="mailto:info@topgoods.com.ua">info@topgoods.com.ua</a></li>
					</ul>
				</div>
				<div class="cell">
					<ul class="footer__list">
						<li><a href="#">Пользовательское соглашение</a></li>
						<li><a href="#">Проблемы с заказом</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="overlay js-overlay"></div>
<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/app.js"></script>