<div class="header">
	<div class="header__top">
		<div class="container">
			<div class="main-area">
				<div class="group">
					<ul class="nav">
						<li class="nav__item">
							<a href="#" class="nav__link">Контакты</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">О магазине</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Возврат и обмен</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Доставка и оплата</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Кредит</a>
						</li>
					</ul>
				</div>
				<div class="group">
					<div class="main-area">
						<div class="group">
							<ul class="nav">
								<li class="nav__item">
									<a href="#" class="nav__link">Обратный звонок</a>
								</li>
								<li class="nav__item">
									<a href="#" class="nav__link">Позвонить с сайта</a>
								</li>
							</ul>
						</div>
						<div class="group">
							<div class="nav text-right">
								<li class="nav__item">
									<a href="#" class="nav__link">Регистрация</a>
								</li>
								<li class="nav__item">
									<a href="#" class="nav__link">Вход</a>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__main">
		<div class="container">
			<div class="main-area">
				<div class="group">
					<a href="#" class="logo">TopGoods</a>
					<div class="search">
						<form action="#">
							<input class="search__input" type="text" placeholder="Поиск">
							<button class="search__btn" type="submit"></button>
						</form>
					</div>
				</div>
				<div class="group">
					<div class="main-area">
						<div class="group">
							<div class="dropdown">
								<span class="dropdown__text">+38 (044) 287-41-12</span>
								<ul class="dropdown__list">
									<li>+38 (044) 287-41-12</li>
									<li>+38 (044) 287-41-12</li>
								</ul>
							</div>
						</div>
						<div class="group">
							<div class="main-area">
								<div class="group">
									<div class="city-info">Ваш город: Киев</div>
								</div>
								<div class="group">
									<div class="text-right">
										<a class="cart-info" href="#">
											<span class="lnr lnr-cart"></span>
											<span class="cart-info__title">Корзина</span>
										</a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__menu">
		<div class="container">
			<div class="main-area">
				<div class="content">
					<ul class="menu">
						<li class="menu__item js-menu-dropdown is-current">
							<a href="#" class="menu__link">Apple Store</a>
							<div class="submenu">
								<div class="main-area">
									<div class="group">
										<div class="main-area">
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Популярные категории</a>
												</div>
												<ul class="list">
													<li><a href="#">Аксессуары для iPhone</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для смартфонов</a></li>
													<li><a href="#">Фитнес-браслеты</a></li>
													<li><a href="#">Умные часы</a></li>
													<li><a href="#">Экш-камеры</a></li>
													<li><a href="#">Акустика для iPhone</a></li>
													<li><a href="#">Гаджеты для дома</a></li>
												</ul>
											</div>
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Скидки для до 50%</a>
												</div>
												<ul class="list">
													<li><a href="#">Чехлы для iPhone</a></li>
													<li><a href="#">Чехлы для iPad</a></li>
													<li><a href="#">Автомобильные аксессуары</a></li>
													<li><a href="#">Кабели и переходники</a></li>
													<li><a href="#">Внешние аккумуляторы</a></li>
													<li><a href="#">Карты памяти</a></li>
													<li><a href="#">GoPro Hero 4</a></li>
													<li><a href="#">3D принтеры</a></li>
													<li><a href="#">Гироскутеры</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="group">
										<div class="cat-title">
											<a href="#" class="cat-title__link">Скидки для до 50%</a>
											<a href="#" class="cat-title__more">Больше акций</a>
										</div>
										<div class="banners-wrap">
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner1.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner2.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner3.jpg" alt="banner">
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="menu__item js-menu-dropdown">
							<a href="#" class="menu__link">Гаджеты и аксессуары</a>
							<div class="submenu">
								<div class="main-area">
									<div class="group">
										<div class="main-area">
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Популярные категории</a>
												</div>
												<ul class="list">
													<li><a href="#">Аксессуары для iPhone</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для смартфонов</a></li>
													<li><a href="#">Фитнес-браслеты</a></li>
													<li><a href="#">Умные часы</a></li>
													<li><a href="#">Экш-камеры</a></li>
													<li><a href="#">Акустика для iPhone</a></li>
													<li><a href="#">Гаджеты для дома</a></li>
												</ul>
											</div>
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Скидки для до 50%</a>
												</div>
												<ul class="list">
													<li><a href="#">Чехлы для iPhone</a></li>
													<li><a href="#">Чехлы для iPad</a></li>
													<li><a href="#">Автомобильные аксессуары</a></li>
													<li><a href="#">Кабели и переходники</a></li>
													<li><a href="#">Внешние аккумуляторы</a></li>
													<li><a href="#">Карты памяти</a></li>
													<li><a href="#">GoPro Hero 4</a></li>
													<li><a href="#">3D принтеры</a></li>
													<li><a href="#">Гироскутеры</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="group">
										<div class="cat-title">
											<a href="#" class="cat-title__link">Скидки для до 50%</a>
											<a href="#" class="cat-title__more">Больше акций</a>
										</div>
										<div class="banners-wrap">
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner1.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner2.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner3.jpg" alt="banner">
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="menu__item js-menu-dropdown">
							<a href="#" class="menu__link">Мобильная связь</a>
							<div class="submenu">
								<div class="main-area">
									<div class="group">
										<div class="main-area">
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Популярные категории</a>
												</div>
												<ul class="list">
													<li><a href="#">Аксессуары для iPhone</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для смартфонов</a></li>
													<li><a href="#">Фитнес-браслеты</a></li>
													<li><a href="#">Умные часы</a></li>
													<li><a href="#">Экш-камеры</a></li>
													<li><a href="#">Акустика для iPhone</a></li>
													<li><a href="#">Гаджеты для дома</a></li>
												</ul>
											</div>
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Скидки для до 50%</a>
												</div>
												<ul class="list">
													<li><a href="#">Чехлы для iPhone</a></li>
													<li><a href="#">Чехлы для iPad</a></li>
													<li><a href="#">Автомобильные аксессуары</a></li>
													<li><a href="#">Кабели и переходники</a></li>
													<li><a href="#">Внешние аккумуляторы</a></li>
													<li><a href="#">Карты памяти</a></li>
													<li><a href="#">GoPro Hero 4</a></li>
													<li><a href="#">3D принтеры</a></li>
													<li><a href="#">Гироскутеры</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="group">
										<div class="cat-title">
											<a href="#" class="cat-title__link">Скидки для до 50%</a>
											<a href="#" class="cat-title__more">Больше акций</a>
										</div>
										<div class="banners-wrap">
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner1.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner2.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner3.jpg" alt="banner">
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="menu__item js-menu-dropdown">
							<a href="#" class="menu__link">Фототехника</a>
							<div class="submenu">
								<div class="main-area">
									<div class="group">
										<div class="main-area">
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Популярные категории</a>
												</div>
												<ul class="list">
													<li><a href="#">Аксессуары для iPhone</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для смартфонов</a></li>
													<li><a href="#">Фитнес-браслеты</a></li>
													<li><a href="#">Умные часы</a></li>
													<li><a href="#">Экш-камеры</a></li>
													<li><a href="#">Акустика для iPhone</a></li>
													<li><a href="#">Гаджеты для дома</a></li>
												</ul>
											</div>
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Скидки для до 50%</a>
												</div>
												<ul class="list">
													<li><a href="#">Чехлы для iPhone</a></li>
													<li><a href="#">Чехлы для iPad</a></li>
													<li><a href="#">Автомобильные аксессуары</a></li>
													<li><a href="#">Кабели и переходники</a></li>
													<li><a href="#">Внешние аккумуляторы</a></li>
													<li><a href="#">Карты памяти</a></li>
													<li><a href="#">GoPro Hero 4</a></li>
													<li><a href="#">3D принтеры</a></li>
													<li><a href="#">Гироскутеры</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="group">
										<div class="cat-title">
											<a href="#" class="cat-title__link">Скидки для до 50%</a>
											<a href="#" class="cat-title__more">Больше акций</a>
										</div>
										<div class="banners-wrap">
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner1.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner2.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner3.jpg" alt="banner">
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="menu__item js-menu-dropdown">
							<a href="#" class="menu__link">Ноутбуки и ПК</a>
							<div class="submenu">
								<div class="main-area">
									<div class="group">
										<div class="main-area">
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Популярные категории</a>
												</div>
												<ul class="list">
													<li><a href="#">Аксессуары для iPhone</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для iPad</a></li>
													<li><a href="#">Аксессуары для смартфонов</a></li>
													<li><a href="#">Фитнес-браслеты</a></li>
													<li><a href="#">Умные часы</a></li>
													<li><a href="#">Экш-камеры</a></li>
													<li><a href="#">Акустика для iPhone</a></li>
													<li><a href="#">Гаджеты для дома</a></li>
												</ul>
											</div>
											<div class="group">
												<div class="cat-title">
													<a href="#" class="cat-title__link">Скидки для до 50%</a>
												</div>
												<ul class="list">
													<li><a href="#">Чехлы для iPhone</a></li>
													<li><a href="#">Чехлы для iPad</a></li>
													<li><a href="#">Автомобильные аксессуары</a></li>
													<li><a href="#">Кабели и переходники</a></li>
													<li><a href="#">Внешние аккумуляторы</a></li>
													<li><a href="#">Карты памяти</a></li>
													<li><a href="#">GoPro Hero 4</a></li>
													<li><a href="#">3D принтеры</a></li>
													<li><a href="#">Гироскутеры</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="group">
										<div class="cat-title">
											<a href="#" class="cat-title__link">Скидки для до 50%</a>
											<a href="#" class="cat-title__more">Больше акций</a>
										</div>
										<div class="banners-wrap">
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner1.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner2.jpg" alt="banner">
											</a>
											<a class="banner" href="#">
												<div class="banner__info">
													<span class="banner__title">Когда ноша не тянет</span>
													<span class="banner__meta">Ультрабуки</span>
												</div>
												<img src="img/banner3.jpg" alt="banner">
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Бытовая техника</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">TG Premium</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>