<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#4c4b4c">
<link rel="stylesheet" media="all" href="css/screen.css" >