<div class="sidebar">
	<div class="sidebar__in">
		<div class="accord js-accord">
			<div class="accord__title js-accord-title">Серия</div>
			<div class="accord__body js-accord-body">
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 6S</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 6S Plus</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 6</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 6 Plus</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 5 s</span>
				</label>
			</div>
		</div>
		<div class="accord js-accord">
			<div class="accord__title js-accord-title">Встроенная память</div>
			<div class="accord__body js-accord-body">
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">8 Gb</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">16 Gb</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">32 Gb</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">64 Gb</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">128 Gb</span>
				</label>
			</div>
		</div>
		<div class="accord js-accord">
			<div class="accord__title js-accord-title">Цвет корпуса</div>
			<div class="accord__body js-accord-body">
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Белый</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Золотой</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Черный</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Розовый</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Желтый</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Черный</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Розовый</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Желтый</span>
				</label>
			</div>
		</div>
		<div class="accord js-accord">
			<div class="accord__title js-accord-title">Серия</div>
			<div class="accord__body js-accord-body">
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 6S</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 6S Plus</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 6</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 6 Plus</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">iPhone 5 s</span>
				</label>
			</div>
		</div>
		<div class="accord js-accord">
			<div class="accord__title js-accord-title">Встроенная память</div>
			<div class="accord__body js-accord-body">
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">8 Gb</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">16 Gb</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">32 Gb</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">64 Gb</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">128 Gb</span>
				</label>
			</div>
		</div>
		<div class="accord js-accord">
			<div class="accord__title js-accord-title">Цвет корпуса</div>
			<div class="accord__body js-accord-body">
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Белый</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Золотой</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Черный</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Розовый</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Желтый</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Черный</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Розовый</span>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<span class="checkbox__text">Желтый</span>
				</label>
			</div>
		</div>
	</div>
</div>