<div class="slider-full">
	<div class="js-slider-full">
		<div>
			<div class="slider-full__bg" style="background-image: url(img/slide-bg.jpg)"></div>
			<div class="container">
				<div class="box">
					<div class="box__in">
						<div class="box__img">
							<img src="img/slide-img.jpg" alt="img">
						</div>
						<div class="box__main">
							<div class="box__title">-50% на чехлы Jison Case</div>
							<div class="box__text">При покупке Apple iPad Air/Air 2 Защити свой iPad - сэкономь деньги!</div>
							<div class="box__action">
								<a href="#" class="btn btn_med">Подробнее</a>
								<div class="btn-nav">
									<button type="button" class="js-slider-full-prev"><span class="lnr lnr-chevron-left"></span></button>
									<button type="button" class="js-slider-full-next"><span class="lnr lnr-chevron-right"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="slider-full__bg" style="background-image: url(img/slide-bg2.jpg)"></div>
			<div class="container">
				<div class="box">
					<div class="box__in">
						<div class="box__img">
							<img src="img/slide-img2.jpg" alt="img">
						</div>
						<div class="box__main">
							<div class="box__title">Apple iPhone 6s и 6S Plus</div>
							<div class="box__text">По лучшей цене в Украине! -22% на оригинальные аксессуары</div>
							<div class="box__action">
								<a href="#" class="btn btn_med">Подробнее</a>
								<div class="btn-nav">
									<button type="button" class="js-slider-full-prev"><span class="lnr lnr-chevron-left"></span></button>
									<button type="button" class="js-slider-full-next"><span class="lnr lnr-chevron-right"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>